Cliente_biblioteca_servidor_7/web/WEB-INF/wsdl/parser.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://service/" name="parser">
<types>
<xsd:schema>
<xsd:import namespace="http://service/" schemaLocation="http://ws.docencia.ces.siani.es/a06/Parser/parser?xsd=1"/>
</xsd:schema>
</types>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="parser">
<part name="parameters" element="tns:parser"/>
</message>
<message name="parserResponse">
<part name="parameters" element="tns:parserResponse"/>
</message>
<message name="MalformedURLException">
<part name="fault" element="tns:MalformedURLException"/>
</message>
<message name="IOException">
<part name="fault" element="tns:IOException"/>
</message>
<portType name="parser">
<operation name="hello">
<input wsam:Action="http://service/parser/helloRequest" message="tns:hello"/>
<output wsam:Action="http://service/parser/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="parser">
<input wsam:Action="http://service/parser/parserRequest" message="tns:parser"/>
<output wsam:Action="http://service/parser/parserResponse" message="tns:parserResponse"/>
<fault message="tns:MalformedURLException" name="MalformedURLException" wsam:Action="http://service/parser/parser/Fault/MalformedURLException"/>
<fault message="tns:IOException" name="IOException" wsam:Action="http://service/parser/parser/Fault/IOException"/>
</operation>
</portType>
<binding name="parserPortBinding" type="tns:parser">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="parser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="MalformedURLException">
<soap:fault name="MalformedURLException" use="literal"/>
</fault>
<fault name="IOException">
<soap:fault name="IOException" use="literal"/>
</fault>
</operation>
</binding>
<service name="parser">
<port name="parserPort" binding="tns:parserPortBinding">
<soap:address location="http://ws.docencia.ces.siani.es/a06/Parser/parser"/>
</port>
</service>
</definitions>